*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    }
    
    
    
    /* 320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops */
    
    
    
    @media only screen and (max-width: 319px){
    .home nav{
    padding-left: 10px!important;
    padding-right: 10px!important;
    }
    /* .home{
    width: ;
    } */
    #section-one, #section-two{ padding-left: 30px!important;}
    
    p{font-size: 20px!important;
    padding-bottom: 3px!important;}
    h1{font-size: 40px!important;}
    
    }
    
    @media only screen and (max-width: 480px){
    .home nav{
    padding-left: 10px!important;
    padding-right: 10px!important;
    }
    #section-one{ padding: 0px!important;}
    .client-middle{
    padding-left: 50px;
    }
    
    }

    @media only screen and (width: 320px){
    .home{
    height: 100vh!important;
    min-height: 500px!important;
    }
    .home nav{
    padding-left: 10px!important;
    padding-right: 10px!important;
    }
    .navbar-nav{
    background-color: rgba(0,0,0,0.5);
    }
    
    p{font-size: 20px!important;}
    h1{font-size: 40px!important;}
    
    .caption{ margin-top: 120px!important;}
    .caption p{
        font-size: 20px!important;
        padding-bottom: 20px!important;
      
        }
        .caption h1{
        font-size: 40px;
        padding-bottom: 50px;
        }
    #section-one{ padding-top: 50px!important;
    padding-bottom: 0px!important;
    padding-right: 0px!important;
    padding-left: 0px!important;}
    
    #section-two{padding: 0px!important;}
    .web-development h1, .id-brand h1{
    font-size: 30px!important;
    padding-bottom: 10px!important; }
    .web-development p, .id-brand p{font-size: 15px!important;}
    .web-development, .id-brand{
    width: 310px!important; }
    #section-three{
    padding-top: 50px!important;;
    padding-bottom: 50px!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
    }   
    .point{
    height: 120px!important;
    padding-left: 30px!important;
    width:300px!important;
    
    }
    
    .point p{font-size: 10px!important;}
    .point h1{font-size: 25px!important;}
    .fa-li {
    
    width: 50px!important;
    height: 50px!important;
    font-size: .6em!important;
    
    }
    #section-four{
    
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    padding-left:0px!important;
    padding-right: 0px!important;
    
    }
    .img-cl{
    margin-left: 20px;
    }
    .blockquote p{ font-size: 15px!important;}   
    .blockquote-footer{
    font-size: 10px!important;
    }
    #section-five{
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    padding-left: 50px!important;
    }
    
    #section-five{
    padding-left: 80px!important;
    }
    #section-six{
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    padding-left:0px!important;
    padding-right: 0px!important;
    }
    .card-deck{
    padding-right: 0px!important;
    
    padding-left:50px!important;
    }
    .bottomteam{
    padding-left: 0px!important;
    padding-right: 0px!important;
    font-size: 15px!important;
    }
    #section-seven{ padding-bottom:0px!important;}
    .conect-form{
    padding-left: 0px!important;
    }
    #footer{ padding-top: 0px!important; }
    #footer p{ font-size: 5px;}
    }
    
    
    /* //////////////////////// */
    @media only screen and (min-width: 321px) and (max-width: 480px)  {
    .home{
    height: 90vh!important;
    min-height: 480px!important;
    }
    .home nav{
    padding-left: 10px!important;
    padding-right: 10px!important;
    }
    .navbar-nav{
    background-color: rgba(0,0,0,0.5);
    }
    p{font-size: 20px!important;
    padding-bottom: 3px!important;}
    h1{font-size: 40px!important;}
    
    .caption{ margin-top: 150px!important;}
    
    #section-one, #section-two{ padding: 0px!important;}
    
    .web-development h1{
    padding-bottom: 20px!important; }
    .web-development, .id-brand{
    width: 350px!important; }
    #section-four{
    
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    padding-left:0px!important;
    padding-right: 0px!important;
    
    }.blockquote p{ font-size: 15px!important;}   
    .blockquote-footer{
    font-size: 10px!important;
    }
    .img-cl{
    padding-left: 50px;
    }
    
    #section-three{
    padding-top: 50px!important;;
    padding-bottom: 50px!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
    }   
    .point{
    padding-left: 45px!important;
    height: 190px!important;
    width:350px!important;
    }
    .point p{font-size: 15px!important;}
    .point h1{font-size: 25px!important;}
    #section-five{
    padding-left: 80px!important;
    }
    #section-six{
    
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    padding-left:0px!important;
    padding-right: 0px!important;
    
    }
    .card-deck{
    padding-right: 0px!important;
    
    padding-left:50px!important;
    }
    .bottomteam{
    padding-left: 0px!important;
    padding-right: 0px!important;
    }
    .conect-form{
    padding-left: 10px!important;
    }
    }
    
    
    
    
    
        
    @media only screen and (width: 412px){

        .card-deck{
            padding-right: 0px!important;
            
            padding-left:70px!important;
            }
    }
    
    
    
    
    
    
    @media only screen and (max-width: 481px){
    .home nav{
    padding-left: 15px!important;
    padding-right: 15px!important;
    }
    .caption{ margin-top: 100px!important;}
    #section-one{
    padding: 100px!important;  }
    }
    
    @media only screen and (max-width: 768px){
    .home nav{
    padding-left: 15px!important;
    padding-right: 15px!important;
    }
    }
    @media only screen and (min-width: 481px) and (max-width: 768px)  {
    .home{
    height: 90vh!important;
    min-height: 480px!important;
    }
    .navbar-nav{
    background-color: rgba(0,0,0,0.5);
    }
    #section-one, #section-two{
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    padding-right: 50px!important;
    padding-left: 50px!important; }
    
    .web-development h1{
    font-size: 40px!important;
    padding-bottom: 20px!important; }
    .web-development{
    width: 400px!important; }
    
    #section-three{
    padding-top: 50px!important;
    padding-bottom: 50px!important;}
    .point{
      
        padding-left: 40px!important;
        width:500px!important;
        
        }
    #section-four{
    
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    padding-left:0px!important;
    padding-right: 0px!important;
    
    }
    .bottomteam{
        padding-left: 0px!important;
        padding-right: 0px!important;
        }
    .card-deck{
    padding-left: 0px!important;
    padding-right: 0px!important;
    }
    .conect-form{
    padding-left:50px!important;
    padding-right: 0px!important;
    }
    
    
    }
    
    
    @media only screen and (width: 1024px){
    
    .home{
    height: 60vh!important;
    min-height: 450px!important;
    }
    }
    @media only screen and (max-width: 1024px){
    
    .caption{margin-top: 200px;  }
    #section-one, #section-two{
    padding-top: 100px!important;
    padding-bottom: 50px!important;
    padding-right: 100px!important;
    padding-left: 100px!important; }
    #section-four{
    
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    padding-left:0px!important;
    padding-right: 0px!important;
    
    }
    #section-three{
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
    }
    
    
    
    }
    /* *-*-*- */